<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="local" />
    <arg name="server" />

    <node pkg="optitrack" type="optitrack_node" name="optitrack" output="screen">
        <param name="local" value="$(arg local)"/>
        <param name="server" value="$(arg server)"/>
    </node>

</launch>
